html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= `${title}`
        link(rel="stylesheet", href="/bootstrap-4.4.1-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap-4.4.1-dist/css/styles.css")
    body
        div.container.listing-reg
            h1 My Amazing App

            block content